[submodule "lib/kbelf"]
	path = kernel/lib/kbelf
	url = https://github.com/robotman2412/KiloElfLoader
[submodule "kernel/lib/opensbi"]
	path = kernel/lib/opensbi
	url = https://github.com/riscv-software-src/opensbi
[submodule "kernel/lib/u-boot"]
	path = kernel/lib/u-boot
	url = https://github.com/u-boot/u-boot
[submodule "kernel/lib/badgelib"]
	path = common/badgelib
	url = https://github.com/badgeteam/badgelib
[submodule "kernel/lib/uacpi"]
	path = kernel/lib/uacpi
	url = https://github.com/ultraos/uacpi
[submodule "kernel/lib/nanoprintf"]
	path = kernel/lib/nanoprintf
	url = https://github.com/charlesnicholson/nanoprintf
[submodule "kernel/lib/limine"]
	path = kernel/lib/limine
	url = https://codeberg.org/Limine/Limine.git
